// $headerColor = #ffc0cb
// $activeBgColor = #fae7ea
// $headerColor = #7275b4
// $activeBgColor = #FFF
// $headerColor = #9cca87
// $activeBgColor = #FFF
$headerColor = #d15b5b
$activeBgColor = #FFF